<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WarsztatApp.Properties.Settings.WarsztatConnectionString"
            connectionString="Data Source=WINDOWS-D2AGQGT\SQLEXPRESS;Initial Catalog=Warsztat;User ID=kierownikWarsztatu;Password=zaq1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>